body
{
background-color:#DFDFDF;
}

.header

{

background: linear-gradient(-90deg, #FF8000, #FF4B00);

background: -webkit-linear-gradient(-90deg, #FF8000, #FF4B00);

background: -o-linear-gradient(-90deg, #FF8000, #FF4B00);

background: -moz-linear-gradient(-90deg, #FF8000, #FF4B00);

border:3px solid;
border-color:#F24A02;
border-radius:10px;
padding:5px;
width:auto;
height:254px;
}

.logo-container

{

display:block;

float:left;
width:523px;
height:235px;
}


.hdr-tbl
{
column-count:4;
-webkit-column-count:4;
-moz-column-count:4;
float:left;
text-align:center;
}

.motto
{
text-align:center;
font-size:32px;
color:#404040;
font-family:verdana,geneva;
font-weight:900;
}

.spacer-50
{
height:50px;
width:auto;
}

.spacer-25
{
height:25px;
width:auto;
}

.spacer-10
{
height:10px;
width:auto;
}

a:hover
{
color:#DFDFDF;
font-weight:900;
text-decoration:none;
}

a:active
{
color:#DFDFDF;
font-weight:900;
text-decoration:none;
}

a:link
{
color:#244C1B;
font-weight:900;
text-decoration:none;
}

a:visited
{
color:#244C1B;
font-weight:900;
text-decoration:none;
}

a:-webkit-any-link
{
color:#244C1B;
font-weight:900;
text-decoration:none;
}

.hdr-lnks
{
font-family:georgia;
font-size:22px;
}

.hdr-scrlbr
{
font-family:'Courier New', Courier, monospace;
font-size:18px;
color:#DFDFDF;
}

.body
{
width:auto;
height:auto;
}

.lft-sdbr
{
background: linear-gradient(-90deg, #FF8000, #FF4B00);

background: -webkit-linear-gradient(-90deg, #FF8000, #FF4B00);

background: -o-linear-gradient(-90deg, #FF8000, #FF4B00);

background: -moz-linear-gradient(-90deg, #FF8000, #FF4B00);

float:left;
width:100px;
height:350px;
border:3px solid;
border-color:#F24A02;
border-radius:10px;
text-align:center;
}

.rgt-sdbr
{
background: linear-gradient(-90deg, #FF8000, #FF4B00);

background: -webkit-linear-gradient(-90deg, #FF8000, #FF4B00);

background: -o-linear-gradient(-90deg, #FF8000, #FF4B00);

background: -moz-linear-gradient(-90deg, #FF8000, #FF4B00);

float:right;
width:100px;
height:350px;
border:3px solid;
border-color:#F24A02;
border-radius:10px;
text-align:center;
}

.sdbr-txt
{
font-size:18px;
font-weight:900;
}

.lgn-bx
{
background-color:#404040;
display:inline-block;
width:900px;
height:30px;
margin-left:10px;
margin-right:10px;
padding-left:95px;
padding-right:95px;
padding-bottom:10px;
border:3px solid #404040;
border-radius:10px;
float:left;
}

.lgn-bx-txt
{
color:#DFDFDF;
float:left;
}
